<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script is not needed because all APIs are built in RunTime -->
    <!-- <script src="cordova.js"></script> -->

    <!-- your app's js -->
    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="lydiagapdemo">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">PhoneGap API Demo</h1>
      </ion-header-bar>
      <ion-content ng-controller="homeCtrl">
        <div class="card">
          <div class="item item-text-wrap">
            这是一个用来演示LydiaBox是如何支持PhoneGap API的简单Web App
          </div>
        </div>

        <div class="card list">
          <div class="item item-divider">
            StatusBar
          </div>
          <div class="item item-wrap">
            <pre>
  StatusBar.show();
  StatusBar.hide();
  StatusBar.isVisible;</pre>
          </div>
          <div class="item item-toggle">
            显示状态栏
            <label class="toggle toggle-balanced">
              <input type="checkbox" ng-checked="!statusbar.hidden" ng-click="statusbar.toggle()">
                <div class="track">
                  <div class="handle"></div>
                </div>
            </label>
          </div>
        </div>

        <div class="card list">
          <div class="item item-divider">
            Vibration
          </div>
          <div class="item item-wrap">
            <pre>
  navigator.notification.vibrate();
            </pre>
          </div>
          <div class="item item-button">
            <div class="button button-assertive button-block" ng-click="vibrate()">
              振一下
            </div>
          </div>
        </div>

        <div class="card list">
          <div class="item item-divider">
            Device-Motion (Accelerometer)
          </div>
          <div class="item item-wrap">
            <pre>
navigator.accelerometer.
getCurrentAcceleration(function (accl) {
      // do with accl.x, accl.y, accl.z
    }, function (err) {
      // output err.msg
    });

var watchId =
navigator.accelerometer.
watchAcceleration(function (accl) {
      // do with accl.x, accl.y, accl.z
    }, function (err) {
      // output err.msg
    });

navigator.accelerometer.
clearWatch(watchId);
            </pre>
          </div>
          <div class="item item-wrap">
            x = {{accl.x}}<br>
            y = {{accl.y}}<br>
            z = {{accl.z}}
          </div>
          <div class="item item-button">
            <div class="button button-positive button-block" ng-click="getAccl()">
              获取当前设备加速度
            </div>
          </div>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
