<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script is not needed because all APIs are built in RunTime -->
    <!-- <script src="cordova.js"></script> -->

    <!-- your app's js -->
    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="lydiagapdemo">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">PhoneGap API Demo</h1>
      </ion-header-bar>
      <ion-content ng-controller="homeCtrl">
        <div class="card">
          <div class="item item-text-wrap">
            这是一个用来演示LydiaBox是如何支持PhoneGap API的简单Web App<br>
            详细文档请参考wiki.lydiabox.com
          </div>
        </div>

        <div class="card list">
          <div class="item item-divider">
            Vibration
          </div>
          <div class="item item-text-wrap">
            兼容 PhoneGap 振动API。
          </div>
          <div class="item item-button">
            <div class="button button-assertive button-block" ng-click="vibrate()">
              振一下
            </div>
          </div>
        </div>

        <div class="card list">
          <div class="item item-divider">
            Social Sharing
          </div>
          <div class="item item-text-wrap">
            直接调用 Native 的分享
          </div>
          <div class="item">
            <div class="button button-balanced button-block" ng-click="social.shareWechat()">
              分享到微信好友
            </div>
            <div class="button button-outline button-balanced button-block" ng-click="social.shareTimeLine()">
              分享到微信朋友圈
            </div>
            <div class="button button-energized button-block" ng-click="social.shareWeibo()">
              分享到微博
            </div>
            <div class="button button-outline button-positive button-block" ng-click="social.shareThis()">
              分享当前页
            </div>
          </div>
        </div>

        <div class="card list">
          <div class="item item-divider">
            Notification
          </div>
          <div class="item item-text-wrap">
            兼容W3C Web Notification标准。
          </div>
          <div class="item">
            <div class="button button-block" ng-click="notifyMe()">
              发送一条消息
            </div>
          </div>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
